.account {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    place-items: center;
    flex-direction: column;
    justify-content: center;
}

.account__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account__text {
    font-size: 48px;
    max-width: 2em 0;
}

.account__avatar {
    width: 130px;
    max-width: 200px;
    min-height: 84px;
    object-fit: contain;
}

.account__avatar:hover {
    border: 2px solid #fff;
    width: 126px;
    min-height: 80px;
}

.account__wrapper {
    display: flex;
}

.account__profile {
    margin: 20px;
}

.account__user {
    font-size: 18px;
    color: #808080;
    line-height: 1.2em;
    min-height: 1.8em;
    color: grey;
    display: block;
    text-align: center;
    margin: .6em 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}