.footer {
    max-width: 980px;
    margin: 20px auto 0;
    padding: 0 4%;
    color: grey;
}

.footer__links {
    display: flex;
    font-size: 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 0 14px 0;
    padding: 0;
}

.footer__link {
    flex-basis: 25%;
    list-style-type: none;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 840px) and (min-width: 481px) {
    .footer {
        display: none;
    }
}

.footer__media {
    display: flex;
    margin-bottom: 1em;
}

.footer__media>svg {
    margin-right: 15px;
}